@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient( to top, #49a09d, #5f2c82);
    height: 100vh;
    width: 100vw;
}
main {
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    transform: translate(-50%, -50%);
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459) ;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-koolshooters-6628479.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
}
 section#login > div#formularios {
    display: block;
    padding: 10px;
    
 }
 div#formularios > h1 {
    text-align: center;
    margin-bottom: 10px;
 }
 div#formularios > p {
    font-size: .8em;
    padding-bottom: 8px;
 }
 div.campo {
    background-color: #2e6866;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid white;
 }
 div.campo > label {
    display: none;
 }
 div.campo span {
   color: #d5c2e2;
   margin-top: 3px;
   width: 25px;
   padding: 4px;
 }
 .caixa {
    width: calc(100% - 31px);
    height: 80%;
    border-radius: 5px;
    border: 1px solid white;
    padding: 4px;
    transform: translatey(-20%);
 } 
 input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #5f2c82;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
 } 
 input[type=submit]:hover {
    background-color:#9565b4b7 ;
 }
 a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    margin-top: 5px;
    background-color: #f7f4f8;
    color: #5f2c82;
    border-radius: 5px; 
    text-decoration: none;
    border: solid 1px #5f2c82;
 }
 a.botao:hover {
    background-color:#9565b4b7;
    color: white;
 }
 a.botao > span {
    font-size: .8em;
 }